body{
    background-color: #1f1f1f;
    color: #ffffff;
    
}

/*header
============================*/
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 799px;
  background: url("img/header.jpg") no-repeat center;
}


.header{
  margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.title-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 700%;
    color: #0fc8ff;
}

strong{
  color: #feb916; 
    
}

/*navigation------------*/
.listLink{
  margin-top: 100px;
}

.link{
  font-size:40px;
  color: #fff;
  background-color: #feb916;
  padding: 40px 80px 40px 80px;
  border-radius: 20px;
  width: 50px;
  position: relative;
}
.link:hover{
  color: #0fc8ff;
  text-decoration: none;
}



/*Quiz
========================*/
.Quiz{
    margin-bottom: 500px;

}


.Quiz ul{
    list-style-type: none;
}

.Quiz ul li{
    margin-top: 25px;
}

.Quiz ul li a{
    
    color: #feb916;
}











